{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <style>
    #map {
      height: 100%;
    }

    #earthquake-stats {
      display: none;
    }

    .predict_btn {
      border-radius: 5px;
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
<h1 style="background-color:hsla(9, 100%, 64%, 0.5); text-align:center; font-family:serif; border:2px solid Tomato">Earthquakes</h1>
  <div>
    <input type="text" class="form-control" placeholder="Latitude" id="lat inputDefault">
    <input type="text" class="form-control" placeholder="Longitude" id="lng inputDefault">
    <input type="date" class="form-control" placeholder="Date" id="inputDate inputDefault">
    <button onclick="predictEarthquakeStats(true)" type="button" class="predict_btn btn btn-primary">Predict!</button>
  </div>
  <br>
  <strong>OR</strong>
  <br>
  <button onclick="predictEarthquakeStats(false)">Predict from my location!</button>
  <div id="map"></div>
  <script>
      document.getElementById('inputDate').valueAsDate = new Date();

      var map, infoWindow;
      function bindInfoWindow(marker, map, infowindow, html) {
          marker.addListener('click', function() {
              infowindow.setContent(html);
              infowindow.open(map, this);
          });
      }

      function predictEarthquakeStats(fromUserInput) {
        if (fromUserInput) {
          var lat = document.getElementById("lat").value;
          var lng = document.getElementById("lng").value;
          var date = document.getElementById("inputDate").value;

          fetch("/api/predict-earthquake-stats/?lat=" + lat + "&lng=" + lng + "&date=" + date, {
            method: "GET"
          }).then((response) => {
            return response.json();
          }).then((response) => {
            var pos = {lat: parseInt(response.lat), lng: parseInt(response.lng)};
            infoWindow = new google.maps.InfoWindow;
            infoWindow.setPosition(pos);
            infoWindow.setContent("<div>Magnitude: " + response.magnitude + "</div><div>Depth: " + response.depth + "</div>");
            infoWindow.open(map);
             map.setCenter(new google.maps.LatLng(pos.lat, pos.lng));
          });
        } else {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              fetch("/api/predict-earthquake-stats/?lat=" + pos.lat + "&lng=" + pos.lng, {
                method: "GET"
              }).then((response) => {
                return response.json();
              }).then((response) => {
                infoWindow = new google.maps.InfoWindow;
                infoWindow.setPosition(pos);
                infoWindow.setContent("<div>Magnitude: " + response.magnitude + "</div><div>Depth: " + response.depth + "</div>");
                infoWindow.open(map);
                 map.setCenter(new google.maps.LatLng(pos.lat, pos.lng));
              });

            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }
        }
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 32.715736, lng: -117.161087},
          zoom: 4
        });
        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        {% for earthquake in earthquakes %}
          // Making a marker
          var marker = new google.maps.Marker({position: {lat: {{earthquake.latitude}}, lng: {{earthquake.longitude}}}, map: map, title: "earthquake-{{earthquake.latitude}}"});

          // Making info popup window
          var infowindow = new google.maps.InfoWindow();

          // Adding info window to marker on click
          bindInfoWindow(marker, map, infowindow, "<div>Date: {{earthquake.date}}</div><div>Magnitude:  {{earthquake.magnitude}}</div><div>Depth: {{earthquake.depth}}</div><br><div>Latitude: {{earthquake.latitude}}</div><div>Longitude: {{earthquake.longitude}}</div>");
        {% endfor %}
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX239nIqX87LOljVEwpHvvsXSuvNbUk3Q&callback=initMap"
  async defer></script>
{% endblock %}
