{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <h1 style="background-color:hsla(9, 100%, 64%, 0.5); text-align:center; font-family:serif; border:2px solid Tomato">Natural Disaster Hacker Tracker</h1>
<p style="text-align: center;">&nbsp;</p>
<img src = "b698f5cc2ca55f1e9285696f92bb0ae4.gif" height = "300" width = "300" border = "2" class = "center" </img>
<p style="text-align: center;">&nbsp;</p>
<p style = "background-color:rgba(0, 0, 255, 0.1); text-align: center; font-family = serif; border: 1.5px solid DodgerBlue;">&nbsp; Disaster Tracker Hacker is an accurate, highly-functional projective application that processes vast aggregates of historical data to produce models governing natural disaster risk of the user's location. Our models rely on heavily-layered regression simulations, trained rigorously on tens of thousands of historical data entries pertaining to hurricanes, forest fires, and droughts.</p>
<p style="text-align: center;">&nbsp;</p>
<a href="/earthquakes/" style = "border:1px Tomato">Earthquakes</a>
  <a href="/forest-fires/" style = "border:1px Tomato">Forest Fires</a>
  <a href="/hurricanes/" style = "border:1px Tomato">Hurricanes</a>
{% endblock %}
