{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <div class="container text-center">
      <h1 style="background-color:hsla(9, 100%, 64%, 0.5); text-align:center; font-family:serif; border:2px solid Tomato">Disaster Tracker Hacker</h1>
      <p style="text-align: center;">&nbsp;</p>
      <div class="text-center">
        <img src = "{% static 'earth.gif' %}" height = "300" width = "300" border = "2" </img>
      </div>
      <div class="btn-group mt-5">
        <a class="btn btn-primary" href="/earthquakes/">Earthquakes</a>
        <a class="btn btn-secondary" href="/forest-fires/">Forest Fires</a>
        <a class="btn btn-info" href="/hurricanes/">Hurricanes</a>
      </div>
    </div>
  </div>
{% endblock %}
